@use "../../styles/variables" as *;

.header {   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; // better than 100vw
    z-index: 10000;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $red;
        padding-block: 1rem;
        padding-inline: 1rem;
        position: relative;

        &-list {
            position: absolute;
            top: 70px;
            left: 0;
            background-color: $red;
            list-style: none;
            width: 100vw;
            z-index: 1000;
            text-align: end;

            /* Transition styles */
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none; // prevent clicks when closed
            transition: all 0.3s ease;

            &-tag {
                display: flex;
                align-items: center;
                justify-content: end;
            }

            &.open {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;

                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                box-shadow: 0px 2px 8px -8px rgba(0, 0, 0, 0.3);
            }

            li {
                padding: .8rem;
                padding-inline: 1.2rem;
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }            
    }


}    
#Logo {
    width: clamp(150px, 25vw, 250px);
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;

    span {
        display: block;
        height: 3px;
        background-color: $white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    &.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(5px);
    }
    &.open span:nth-child(2) {
    opacity: 0;
    }
    &.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(2.5px);
    }
}
