@use 'variables' as *;

:root {
    --font-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}
body {
    color: $black;
    background-color: $white;
    font-family: var(--font-be-vietnam-pro), sans-serif;
}
button {
    font-family: var(--font-be-vietnam-pro), sans-serif;
}
input, select, textarea  {
    font-family: var(--font-be-vietnam-pro), sans-serif;
}
a {
    text-decoration: none;
    color: $white;
    font-family: var(--font-be-vietnam-pro), sans-serif;
}
input {
    border: 1px solid $black;
    border-radius: .2rem;
    padding: .1rem;
}
.page-title-1 {
    font-size: $medium-text;
}
.page-title-2 {
    font-size: 20px;
}
.page-title-3 {
    margin-block: 1rem;
}
.small-text {
    font-size: 14px;
}
.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#SubmitFormBtn {
    color: $white;
    background-color: $red;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $lighten-red;
        cursor: pointer;
    }
}
#NavNextLink {
    width: clamp(16rem, 40vw, 25rem);
    height: clamp(5rem, 8vw, 8rem);
    background-color: $red;
    color: $white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $large-text;
    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: $lighten-red;
    }
}
#NavBtn {
    width: clamp(16rem, 40vw, 25rem);
    height: clamp(5rem, 8vw, 8rem);
    background-color: $red;
    color: $white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: $lighten-red;
    }
}
#NavNextLinkThin {
    width: clamp(16rem, 40vw, 25rem);
    height: clamp(3rem, 5vw, 5rem);
    background-color: $red;
    color: $white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: $lighten-red;
    }
}
#NavBtnThin {
    width: clamp(16rem, 40vw, 25rem);
    height: clamp(3rem, 5vw, 5rem);
    background-color: $red;
    color: $white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    text-align: center;

    cursor: pointer;

    &:hover {
        background-color: $lighten-red;
    }
}
#NavLink {
    font-size: $large-text;
}

select {
    border-radius: .2rem;
    border: 1px solid $black;
}
.horizontal-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.vertical-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}