@use '../../styles/variables' as *;

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.create-user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 3rem;
    align-items: center;
}
.users-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    &-item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid $black;
        border-radius: .5rem;
        width: clamp(300px, 50vw, 600px);

        &-role {
            display: flex;
            margin-block: .5rem;
            align-items: center;
        }
    }
}
#UserRoleBtn {
    color: $white;
    background-color: $red;
    border: none;
    padding: .1rem .2rem;
    border-radius: .5rem;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $lighten-red;
        cursor: pointer;
    }
}
.user-role-select {
    margin-left: .2rem;
    border-radius: .2rem;
    border: 1px solid $black;
}