@use "../../styles/variables" as *;

.footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--footer-height, 3.5rem);
    z-index: 50;
    background-color: $white;

    &-container {
        display: flex;
        align-items: center;
        height: 100%;
        padding-inline: 1.5rem;
        gap: 1rem;
        background-color: $red;
    }
}

#FooterIcon {
    color: $white;
    font-size: 1.5rem;
    border: none;
    background: none;
}