@use '../../../../styles/variables' as *;

.form-page {
    margin-block: 3rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;

    &-ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        list-style: none;
        
        &-li {

        }
    }
}