@use '../../../../styles/variables' as *;

.form-page {
    margin-block: 3rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin-top: 9rem;

  .form-page-ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .form-page-ul-li {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;

    .form-textarea {
      width: 100%;
      padding: .5rem;
      box-sizing: border-box;
    }

    &-img-container { /* this is fine since your class is still applied */
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      margin-bottom: 1rem;
    }

    &-input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .radio-label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        cursor: pointer;
      }

      .radio-input {
        display: none;
      }

      .radio-box {
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid #333;
        border-radius: 2px;
        position: relative;
      }

      .radio-input:checked + .radio-box::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        background-color: $red;
        border-radius: 2px;
      }
    }
  }
}
.roof-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .roof-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.section-toggle {
  padding-inline: 1rem;
  padding-block: .3rem;
  border: none;
  border-radius: .2rem;
  color: $white;
  background-color: $red;
  font-size: $small-text;
  cursor: pointer;

  &:hover {
    background-color: $lighten-red;
  }
}
.add-roof-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#ImgSubmitBtn {
    font-size: 2.5rem;
    opacity: 60%;
    background-color: $grey-light;
    color: $black;
    border: 1px solid $black;
    border-radius: .4rem;
    width: 70%;

    cursor: pointer;

    &:focus {
      color: $red;
    }
}
#HideFormBtn {
  padding-inline: 1rem;
  padding-block: .3rem;
  border: none;
  border-radius: .2rem;
  color: $white;
  background-color: $red;
  font-size: $medium-text;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: $lighten-red;
  }
}