/* spinner.css */

@use "../../styles/variables" as *;


.spinner {
  border: 3px solid $white;
  border-top-color: $red;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
