@use './styles/variables' as *;

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    &-page {
        margin-block: 3rem;
        margin-inline: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}