@use "../styles/variables" as *;

@page {
  size: A4;
  margin: 20mm;
  font-size: 7pt;
}
html {
    font-size: 7pt;
}

body {
  font-family: Arial, sans-serif;
  font-size: 5pt;
  color: #000;
}

.pdf-form {
  display: flex;
  flex-direction: column;
  gap: 16pt;
}

.pdf-section {
  display: flex;
  flex-direction: column;
  gap: 10pt;
  page-break-inside: avoid;
}

.pdf-field {
  display: flex;
  flex-direction: column;
  gap: 6pt;
  page-break-inside: avoid;
}

.pdf-label {
  font-weight: bold;
}

.pdf-img {
  width: 200px;
  max-width: 100%;
  height: auto;
  margin-top: 6pt;
  page-break-inside: avoid;
}

.pdf-h1 {
  font-size: 20pt;
  margin-bottom: 10pt;
}

.pdf-h2 {
  font-size: 14pt;
  margin-bottom: 6pt;
}
