@use '../../../styles/variables' as *;

.project-detail-page {
    margin-block: 3rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;

    &-forms {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-list {}
    }

    &-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}