@use '../../../styles/variables' as *;

.project-detail-page {
    margin-block: 3rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &-forms {

        &-list {}
    }
}