$huge-text: 72px;
$huge-desc: 42px;
$large-text: 32px;
$medium-text: 24px;
$small-text: 18px;
$break-sm: 480px;
$break-md: 768px;
$break-lg: 1024px;
$red: rgb(220, 4, 43);
$white: rgb(254, 254, 254);
$black: rgb(15, 15, 15);
$grey-light: rgb(250, 250, 250);