@use '../../../styles/variables' as *;

.template {
    display: flex;
    flex-direction: column;
    margin-block: 3rem;
    margin-top: 6rem;

    &-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 3rem;
        align-items: center;

        input {
            border: 1px solid $black;
            border-radius: .2rem;
            padding: .1rem;
        }
    }
}