@use '../../styles/variables' as *;

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-page {
        margin-block: 3rem;
        margin-inline: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

.projects-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}